* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Nunito Sans', sans-serif;
	-webkit-appearance: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

:root {
	--primary: #f0f0f0;
	--color: #242424;

	--border: 1px solid rgba(255,255,255,0.2);
	--border-radius: 16px;

	--background: rgba(255, 255, 255, 0.4);
	--blur: blur(5px);

	--background-image: url("App/logo.svg");
	--gradient: linear-gradient(90deg, #e0da19, #f27a18, #f21889, purple);
}

@media (max-width: 900px) {
	:root {
		--gradient: linear-gradient(90deg, #f27a18, #f21889);
	}
}